<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>80B  Nest</title>
    </head>
    <body>
        <h1>80B 'Nest'</h1>
        <meta http-equiv="refresh" content="60">
        <pre>
<strong>Current Status</strong>
    Uptime:         {{.Uptime}}
    Furnace:        {{.FurnaceState}}
    People Home?    {{.HouseOccupied}}
    Current Temp:   {{.CurrentTempC}} °C
                    {{.CurrentTempF}} °F

<strong>All Nodes</strong><table border="0" cellpadding="2">
<thead>
    <tr>
        <td>    </td>
        <td><strong>Node</strong></td>
        <td><strong>Temp (°C)</strong></td>
        <td><strong>Pressure (mBar)</strong></td>
        <td><strong>Humidity (%)</strong></td>
        <td><strong>Staleness</strong></td>
    </tr>
</thead>
<tbody>
{{range .RecentReadings}}
<tr>
    <td>    </td>
    <td>{{.Name}}</td>
    <td>{{if .Temp.Valid}} {{ .Temp.Float64 }} {{else}} -- {{end}}</td>
    <td>{{if .Pressure.Valid}} {{.Pressure.Float64}} {{else}} -- {{end}}</td>
    <td>{{if .Humidity.Valid}} {{.Humidity.Float64}} {{else}} -- {{end}}</td>
    <td>{{.Staleness.String}}</td>
</tr>
{{end}}
</tbody>
</table>

<strong>People Home?</strong><table border="0">
{{range .People}}<tr><td>    </td><td>{{.Name}}</td><td>{{.IsHome}}</td><td>(Last seen {{.SeenDuration.String}} ago)</td></tr>
{{end}}</table>
<strong>Settings</strong>
    Occupied temp:      {{.MinActiveTempC}} °C
                        {{.MinActiveTempF}} °F
    Unoccupied temp:    {{.MinIdleTempC}} °C
                        {{.MinIdleTempF}} °F
    Override:    {{.OverrideState}}

    {{ if .Override }}
    <a href='/?override=off'>Turn off override</a>
    {{ else }}
    <a href='/?override=on'>Turn on heat for 20 minutes</a>
    {{ end }}
    {{ if .ShowGraph }}
    <a href='/?graph=off'>Hide Graph</a>
    {{ else }}
    <a href='/?graph=on'>Show Graph</a>
    {{ end }}
    {{ if .ShowGraph }}{{ if .Farenheit }}
    <a href='/?graph=on'>Use °C</a>
    {{ else }}
    <a href='/?graph=on&unit=f'>Use °F</a>
    {{end}}{{end}}
</pre>
        {{ if .ShowGraph }}
        <center>
            <img align="center" src="http://nest.rhye.org/graph_temp.png"><br/>
            <img align="center" src="http://nest.rhye.org/graph_pressure.png"><br/>
            <img align="center" src="http://nest.rhye.org/graph_humidity.png"><br/>
        </center>
        {{end}}

    </body>


</html>


